@use "../../../../styles/variables" as v;

.checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid v.$line;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  &._active{
    background-color: v.$purple;
    border-color: v.$purple;
  }
}
