@import "../../../../../styles/variables";

.card__container{
  width: 220px;
  height: 300px;
  background-size: 260px 340px;
  @extend .card
}

.card-buttons{
  display: flex;
  gap: 10px;
  font-weight: 300;
}

.card-buttons__item{
  padding: 2px 8px;
  border: 1px solid #fff;
  border-radius: 30px;
}

.card-bottom{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-bottom-item{
  display: flex;
  font-weight: 400;
  font-size: 14px;
}

.card-bottom-item__name{
  display: flex;
}

.card-bottom-item__name::after{
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 30px;
  background-color: #fff;
  margin: 6px;
}

.card-bottom__details{
  font-weight: 300;
  font-size: 14px;
}