@use "../../../styles/variables" as v;

.slider{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.slider__inner{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.slider__container{
  display: flex;
  gap: 32px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

