@use "../../../../styles/variables" as v;

.search{
  background-color: #fff;
  height: 320px;
  width: 300px;
  border-radius: 30px;
}

.search-wrapper{
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
}

.search-wrapper__bottom{
  display: flex;
}

.hline{
  height: 1px;
  width: 100%;
  background-color: v.$line;
}

.vline{
  margin: 0 24px;
  height: 40px;
  width: 1px;
  background-color: v.$line;
}