.carousel{
  display: flex;
  flex-direction: column;
  gap: 52px;
  position: relative;
}

.carousel__inner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__container{
  display: flex;
}

.carousel__item{
  transform: scale(85%);
  &._active{
    transform: scale(100%);
  }
}