@use "../../../../../styles/variables" as v;

.direction-modal-top{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 22px 30px;
  border-bottom: 1px solid v.$line;
}

.direction-modal-top__label{
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.direction-modal-main{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 30px 0;
}

.direction-modal-main__content{
  display: flex;
  justify-content: space-between;
  height: 200px;
  overflow-y: auto;
}

.direction-modal-main__column{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.direction-modal-main-item{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.direction-modal-main-item__name{
  font-size: 14px;
  font-weight: 300;
}

.direction-modal-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid v.$line;
  height: 80px;
  padding: 20px 30px;
}

.direction-modal-bottom-button{
  font-size: 16px;
  font-weight: 500;
  color: v.$gray-text;
}

.direction-modal-bottom-button__text{
  font-size: 16px;
  font-weight: 500;
}