@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), 
  url("../assets/fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), 
  url("../assets/fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), 
  url("../assets/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Roboto-Light.woff2") format("woff2"), 
  url("../assets/fonts/Roboto-Light.ttf") format("ttf");
}

//colors

$select-hover: #F3F1FF;
$gray-text: #A1A1A1;
$gray: #585858;
$line: #D4D4D4;
$border: #6A6A6A; 
$white-hover: #F8F8F8;
$red: #EC1C24;
$red-hover: #DD1A21;
$purple: #463998;