@use "../../../styles/variables" as v;

.search {
  background-color: #fff;
  width: 300px;
  border-radius: 30px;
  padding: 16px 24px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

.search-wrapper__item {
  display: contents;
}

.search-wrapper__item::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: v.$line;
}

.search-wrapper-bottom {
  display: flex;
}

.search-wrapper-bottom__item {
  display: contents;
}

.search-wrapper-bottom__item::after {
  content: "";
  margin: auto 10px;
  height: 40px;
  width: 1px;
  background-color: v.$line;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}

@media (min-width: 1024px) {
  .search {
    padding: 12px;
    width: 100%;
  }

  .search-wrapper {
    align-items: center;
    flex-direction: row;
  }

  .search-wrapper__item::after {
    content: "";
    margin: auto 10px;
    height: 40px;
    width: 1px;
    background-color: v.$line;
  }

  .search-button {
    width: 140px;
    padding-top: 0px;
  }
}