@use "../../../styles/variables" as v;

.search{
  background-color: #fff;
  width: 300px;
  border-radius: 30px;
  padding: 16px 24px;
}

.search-wrapper{
  
  display: flex;
  flex-direction: column;
}

.search-wrapper__bottom{
  display: flex;
}

.hline{
  height: 1px;
  width: 100%;
  background-color: v.$line;
}

.vline{
  margin: auto;
  height: 40px;
  width: 1px;
  background-color: v.$line;
}

.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}