@use "../../../../../styles/variables" as v;

.modal-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid v.$line;
  height: 80px;
  padding: 20px 30px;
}

.modal-bottom-button{
  font-size: 16px;
  font-weight: 500;
  color: v.$gray-text;
}

.modal-bottom-button__text{
  font-size: 16px;
  font-weight: 500;
}