@use "../../../../styles/variables" as v;

.arrow{
  position: absolute;
  padding: 9px;
  line-height: 0;
  z-index: 2;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: 0.2s;
  cursor: pointer;
  &._left{
    left: -16px
  }
  &._right{
    transform: rotate(180deg);
    right: -16px
  }
}

.arrow:hover{
  background-color: v.$white-hover;
}

.arrow__icon{
  width: 14px;
  height: 14px;
}