.field div, .field div:hover, .field div:focus, .field label{
  color: #000;
  background-color: rgba($color: #fff, $alpha: 1);
  cursor: pointer;
}

.field div::before{
  border: 0px;
}

.field div:hover:not(.Mui-disabled .Mui-error):before{
  border: 0px;
} 

.field div::after{
  border: 0px;
}
