.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-buttons__icons {
  display: flex;
  gap: 12px
}

@media (min-width: 768px) {

  .nav-buttons {
    gap: 30px;
  }
}