@use "../../../../../styles/variables" as v;

.tourists-modal{
  padding: 28px 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tourists-modal__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourists-modal__text{
  font-size: 16px;
  font-weight: 400;
  color: v.$gray;
}

.tourists-modal__counter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}