nav {
  display: none;
}

.nav-inner {
  display: flex;
  gap: 42px;
}

.nav-inner__link {

  font-size: 14px;
  font-weight: 400;

  padding: 3px 0;
  border-bottom: 1px solid #fff;

  transition: 0.4s;

  &._active {
    border-color: #000;
  }
}

.nav-inner__link:hover {
  border-color: #000;
}

@media (min-width: 1440px) {
  nav {
    display: block;
  }
}